body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A68DAD;
}
.container{
    width: 100%;
    max-width: 320px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-sizing: border-box;
    gap: 15px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
}
.num{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
#inputs{
    display: flex;
}
#inputfield{
    width: 100%;
    height: 60px;
    font-size: 40px;
    padding: 10px;
    text-align: right;
    border: none;
    border-radius: 10px;
    background-color: #e0e0e0;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}
button{
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: 1px none;
    border-radius: 50%;
    background-color: #e0e0e0;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}
button:active {
    transform: scale(0.95);
}
.equal{
    grid-column: span 2;
    width: 140px;
    height: 60px;
    border-radius: 20px;
}